<div data-hook="admin_vendor_form_fields" class="row">
  <div class="col-4">
    <%= f.field_container :name do %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'fullwidth' %>
    <% end %>
  </div>

  <div class="col-2">
    <%= f.field_container :state do %>
      <%= f.label :state %>
      <%= f.select :state,
        options_for_select(Spree::Vendor.state_machines[:state].states.collect { |s| [Spree.t("vendor_states.#{s.name}"), s.value] }, selected: @vendor.state),
        {}, class: "select2 fullwidth" %>
    <% end %>
  </div>
</div>
