<% admin_layout "full-width" %>

<% admin_breadcrumb(plural_resource_name(Spree::Vendor)) %>

<% content_for :page_actions do %>
  <li>
    <%= link_to t("spree.new_vendor"), new_object_url, class: "btn btn-primary" %>
  </li>
<% end if can?(:create, Spree::Vendor) %>

<% content_for :table_filter do %>
  <div data-hook="admin_vendors_index_search">
    <%= search_form_for [:admin, @search] do |f| %>
      <div class="row">
        <div class="col-3">
          <div class="field">
            <%= f.label :name_cont, Spree::Vendor.human_attribute_name(:name) %>
            <%= f.text_field :name_cont, tabindex: 1, class: "fullwidth js-quick-search-target" %>
          </div>
        </div>

        <div class="col-2">
          <div class="field">
            <%= label_tag :q_state_eq, Spree.t(:state) %>
            <%= f.select :state_eq, Spree::Vendor.state_machines[:state].states.collect { |s| [Spree.t("vendor_states.#{s.name}"), s.value] }, { include_blank: true }, class: 'select2 js-filterable fullwidth' %>
          </div>
        </div>
      </div>

      <div class="actions filter-actions">
        <div data-hook="admin_vendors_index_search_buttons">
          <%= button_tag Spree.t(:filter_results), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if @vendors.any? %>
  <table class="table">
    <thead>
      <tr data-hook="vendors_header">
        <th>
          <%= sort_link @search, :name, I18n.t(:name, scope: 'activerecord.attributes.spree/vendor') %>
        </th>
        <th>
          <%= sort_link @search, :state, I18n.t(:state, scope: 'activerecord.attributes.spree/vendor') %>
        </th>
        <th>
          <%= sort_link @search, :created_at, I18n.t(:created_at, scope: 'activerecord.attributes.spree/vendor') %>
        </th>
        </th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @vendors.each do |vendor| %>
        <tr>
          <td>
            <%= vendor.name %>
          </td>
          <td>
            <span class="label label-<%= vendor.state.downcase %>"><%= vendor.state.humanize.downcase %></span>
            <span class="icon icon-filter filterable js-add-filter" data-ransack-field="q_state_eq" data-ransack-value="<%= vendor.state %>"></span>
          </td>
          <td>
            <%= pretty_time(vendor.created_at) %>
          </td>
          <td class="actions">
            <% if can?(:update, vendor) %>
              <%= link_to_edit(vendor, no_text: true) %>
            <% end %>
            <% if can?(:destroy, vendor) %>
              <%= link_to_delete(vendor, no_text: true) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                 resource: Spree::Vendor,
                 new_resource_url: new_object_url %>
  </div>
<% end %>
